In [4]:
import pandas as pd
df = pd.read_csv('Boston.csv')
df.head(2)

,CRIME,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,high,0.0,18.10,0,0.718,3.561,87.9,1.6132,24.0,666,20.2,354.7,7.12,27.5
1,low,0.0,8.14,0,0.538,5.950,82.0,3.9900,4.0,307,21.0,232.6,27.71,13.2

In [3]:
# 欠損値の確認
df.isnull().sum()

CRIME      0
ZN         0
INDUS      0
CHAS       0
NOX        1
RM         0
AGE        0
DIS        0
RAD        1
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64